*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.text-primary{
    color:#FD6E0A; font-size: 45px; font-weight: 800;
}

.btn-primary{
    background: #FD6E0A; color:#fff; border:0; font-size: 20px; font-weight: 700; padding:16px 30px; border-radius: 5px; cursor: pointer; margin-right: 30px; 
}

.btn-secondary{
    background: #fff; color:#FD6E0A; border:1px solid #FD6E0A; font-size: 20px; font-weight: 700; padding:16px 30px; border-radius: 5px; cursor: pointer; width: 200px;
}
.header{background: #FFF8F3; background-image: url('../images/header_bg.png'), url('../images/developer.png'); background-repeat: no-repeat; background-position: bottom right, left;}
/* navbar styles */
nav{
    display: flex; justify-content: space-between; padding: 50px 150px;
}
.nav-title{
    font-size: 45px; font-weight: 800;
}

nav ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-left: 50px;
}


/* Banner Styles */

.banner{
    display: flex;
    margin: 0 150px;
    align-items: center;
}
.banner-sub-title{
    font-size: 45px; font-weight: 600px;
}
.banner-title{
    font-size: 85px; font-weight: 700px;
}
.banner-text{
    color:#757575; margin: 10px 0 30px;
}

/* About section style */
main{max-width: 1140px; margin: 0 auto;}
section{margin-top: 130px;}
.section-title{font-size: 35px; font-weight: 700; text-align: center;}
.about{background: #FFF8F3; border-radius: 10px;
    padding: 130px 150px;
    text-align: center;}

.about-info-container{display: flex; justify-content: space-around;}
.about-text{margin: 25px 0; color: #757575;}

.info-title{
    color:#757575; 
}

.info-description{color:#474747; font-weight: 700;}

/* skill section  */
.skill-container{
    display: flex; gap:20px;
}
.skill{
    border-radius: 5px; padding:30px; box-shadow:0px 6px 50px rgba(0, 0, 0, 0.06); 
}
.skill-title{
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.skill-description{
    color: #757575;
    font-size: 18px;
}
.what-i-do-text{padding: 50px 100px; text-align: center;}

/* Resume section styles  */
.resume-content{
    display: flex; gap:50px; padding: 30px;
}
.download-resume{text-align: center; margin-top: 30px;}

.resume-item-title{
    color:#474747; font-size: 25px; margin-top: 80px;
}
.resume-item{
    margin: 30px 0;
}
.resume-titel{font-size: 20px; color:#474747}
.resume-sub-title{font-size: 16px; color: #868686;}

.resume-text{font-size: 16px; color: #868686; margin-top: 20px;}
hr{color:#adadada9}


footer{background-color: #FFF8F3; padding: 80px; margin-top: 80px;}
.footer{display: flex; gap:50px;}
.contact-title{
    font-size: 35px; font-weight: 700;
}

.cotact-text{margin:25px 0}

.contact a{text-decoration: none;}

input[type=text], input[type=email]{
    width: 100%; padding: 10px; margin-bottom: 15px; border: 1px solid #FFF8F3;
}

textarea{width: 100%; padding:10px; margin-bottom: 20px; border: 1px solid #fff8f3;}

@media screen and (max-width:576px) {
    .banner{
        display: flex;
        margin: 0;
        flex-direction: column;
        padding:20px 20px 0 20px;
    }

    .banner-sub-title{
        font-size: 35px; font-weight: 600px;
    }
    .banner-title{
        font-size: 55px; font-weight: 700px;
    }
    .banner-text{
        color:#757575; margin: 10px;
    }

    .about{padding: 20px;}

    .about-info-container{flex-direction: column; gap:30px;}
    .what-i-do-text{padding: 20px}
    .skill-container{
        flex-direction: column; padding:20px;
    }
    .resume-content{flex-direction: column;}
    .resume-item-title{margin-top: 20px;}
    .footer{flex-direction: column;}
    footer{padding: 20px;}
    nav{padding: 0 20px;}
    .nav-title{
        font-size: 35px; font-weight: 800;
    }
    
    nav li{
        
        margin-left: 10px;
    }

    .banner img{width:100%}
}